/* nft-gallery */
.nft-gallery {
  display: grid;
  gap: 8px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, 90px);

  & > * {
    box-sizing: border-box;
    min-width: 0;
    grid-column: auto / span 1;
  }

  & .alert {
    grid-column: auto / span 4;
  }

  & input[type="image"] {
    &:hover {
      background-color: $tertiary-low;
      border-radius: 0;
      -webkit-mask: url('/plugins/nft-pfp/images/hexagon-twitter.png');
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      overflow: hidden;
    }
  }

  & .placeholder-avatar {
    width: 90px;
    height: 90px;
    border-radius: 0;
    -webkit-mask: url('/plugins/nft-pfp/images/hexagon-twitter.png');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    overflow: hidden;
    &:before {
      height: 90px;
    }
  }
}

input[type="image"].cover {
  object-fit: cover;
  width: 100%;
  display: block;
}

.avatar-selector .avatar-choice {
  margin-bottom: 0.75em;
  grid-template-columns: 2em 1fr auto auto;
}

.avatar-uploader + .avatar-uploader {
  margin-left: 8px;
}

img.avatar.nft,
.nft img.avatar,
input[type="image"].avatar.nft,
.nft input[type="image"].avatar {
  background-color: $tertiary-low;
  border-radius: 0;
  -webkit-mask: url('/plugins/nft-pfp/images/hexagon-twitter.png');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  border: 0;
  overflow: hidden;
}

.modal .modal-body .success {
  color: var(--success);
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.fa-spin {
  animation: fa-spin 2s linear infinite;
}
